html {
  --bg: rgb(255, 255, 255);
  --color: #18191b;
  --background-hoverEffect: rgba(0, 0, 0, 0.123);

}

html:not(.style-scope)[theme=dark] {
  --bg: #18191b;
  --color: rgb(255, 255, 255);
  --background-hoverEffect: rgba(255, 255, 255, 0.123);
}

body {
  background-color: var(--bg);
  color: var(--color);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

}

.bg-transition {
  transition: background-color 0.3s;
}

.hoverEffect {
  cursor: pointer;
  transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

.hoverEffect:hover {
  background-color: var(--background-hoverEffect);
}